<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thetower">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DungeonFoKepernyo"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".ShopPoti"
            android:screenOrientation="landscape"/>
        <activity android:name=".ShopPancel"
            android:screenOrientation="landscape"/>
        <activity android:name=".ShopFegyver"
            android:screenOrientation="landscape"/>
        <activity android:name=".KarakterBag"
            android:screenOrientation="landscape"/>
        <activity android:name=".KarakterStatusz"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".GameFoKepernyo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoadingScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetSzakmak"
            android:screenOrientation="landscape" />
        <activity
            android:name=".characterCreation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FoKepernyo"
            android:label="@string/app_name"
            android:parentActivityName=".characterCreation"
            android:screenOrientation="landscape" />
    </application>

</manifest>